<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

 <title>JALTAH</title>
    <link href="https://fonts.googleapis.com/css?family=McLaren|Montserrat&display=swap" rel="stylesheet">
   
    
</head>
<body>
    <div class="bar"> 
        <a href="http://localhost:3000/Berger">Home</a>
        <a href="/sing-in" >Log-In</a>
        <a href="/sing-up" >Sing-Up</a>
    </div>
    <div class="header">
        <div class="card" id="root">
            
         </div>
    </div>
     
   <link rel="stylesheet" href="style/homepage.css" >

   <script src="js/react.js" type="text/babel"></script>

</body> 


</html>
